<!DOCTYPE html>
<html>
  <head>
    <title>OfferApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <%= render partial: './layouts/partials/navbar' %>
    <div class="container">
      <%= render partial: './layouts/partials/jumbotron' %>
      <div class="tabs rounded">
        <%= link_to offers_path, remote: true do %>
          <span> All</span>
        <% end %>
        <%= link_to offers_path(premium: true), id: "teste", remote: true do %>
          <span> Premium</span>
        <% end %>
      </div>
      <%= yield %>
      <%= render partial: './layouts/partials/footer' %>
    </div>
  </body>
</html>